.point {
    cursor: pointer;
}


.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #8a7171;
}